body{
	background-color: 	'white';
	margin: 0;
}

#container{
	height: 400px; 
	min-width: 310px; 
}

#container{
	height: 65vh;
	width: 75vw;
	margin: auto;
	margin-top: 5vh;
}

.input-container{
	height: 100px; 
	width: 80vw;
	margin: auto;
	text-align: center;
	background-color: #d6d6db;
}

form{
	/*margin: auto;*/
	position: relative;
	top: 50%; 
	transform: translateY(-50%);
}

