body{
	background-color: 	#444444;
	margin: 0;
}

#container{
	height: 400px; 
	min-width: 310px; 
}

.highcharts-container{
	height: 10vh;
	width: 90vw;
}

.input-container{
	height: 100px; 
	width: 80vw;
	margin: auto;
	text-align: center;
	background-color: grey;
}

form{
	/*margin: auto;*/
	position: relative;
	top: 50%; 
	transform: translateY(-50%);
}

